[submodule "esp-matter"]
	path = esp-matter
	url = https://github.com/espressif/esp-matter.git
[submodule "components/arduino-esp32"]
	path = components/arduino-esp32
	url = https://github.com/espressif/arduino-esp32.git
[submodule "initialFiles/arduino/arduino-sht"]
	path = initialFiles/arduino/arduino-sht
	url = https://github.com/Sensirion/arduino-sht.git
[submodule "initialFiles/arduino/I2CSoilMoistureSensor"]
	path = initialFiles/arduino/I2CSoilMoistureSensor
	url = https://github.com/Apollon77/I2CSoilMoistureSensor
[submodule "initialFiles/arduino/SparkFun_VEML7700_Arduino_Library"]
	path = initialFiles/arduino/SparkFun_VEML7700_Arduino_Library
	url = https://github.com/sparkfun/SparkFun_VEML7700_Arduino_Library
