[submodule "esp-matter"]
	path = esp-matter
	url = https://github.com/espressif/esp-matter.git
[submodule "components/arduino-esp32"]
	path = components/arduino-esp32
	url = https://github.com/espressif/arduino-esp32.git
[submodule "initialFiles/arduino/arduino-sht"]
	path = initialFiles/arduino/arduino-sht
	url = https://github.com/Sensirion/arduino-sht.git
